@using SimchaFund.Data
@using SimchaFund.Models


<header><h1>Email List</h1></header>



<ul class="list">
    <ul>
        @foreach(String name in Model)
        {
            <li>@name</li>
        }
    </ul>
    </ul>

